listen_addresses = '*'
port = 5432
hba_file = '/playground/generated/pg_hba.conf'
ident_file = '/playground/generated/pg_ident.conf'

ssl = on
ssl_cert_file = '/playground-state/postgres.crt'
ssl_key_file = '/playground-state/postgres.key'

oauth_validator_libraries = 'pg_oauth_validator'
pg_oauth_validator.audiences = '@OAUTH_AUDIENCE@'
pg_oauth_validator.allowed_algorithms = 'RS256'
pg_oauth_validator.required_token_type = 'at+jwt'

# Auth0 Action sets this array claim to PostgreSQL roles the user may request.
pg_oauth_validator.identity_claim = 'sub'
pg_oauth_validator.identity_format = 'issuer_qualified'
pg_oauth_validator.authorization_mode = 'claim_roles'
pg_oauth_validator.roles_claim = '@ROLES_CLAIM@'

log_connections = on
log_disconnections = on
log_min_messages = info
