local   all         all                    trust
hostssl playground  @DATABASE_ROLES@  0.0.0.0/0  oauth issuer=@OAUTH_ISSUER@ scope="@OAUTH_SCOPE@" validator=pg_oauth_validator validator.policy=default map=oauthmap
hostssl playground  @DATABASE_ROLES@  ::/0        oauth issuer=@OAUTH_ISSUER@ scope="@OAUTH_SCOPE@" validator=pg_oauth_validator validator.policy=default map=oauthmap
